{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3 offset-1 mt-4">
            <div class="topMargin">
                <h4 class="alert alert-danger text-center">Enter User Details</h4>
            </div>
            <form method="post">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" name = "fname" class="form-control" placeholder="Enter first nane" required>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" name="lname" class="form-control" placeholder="Enter last name">
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label >Password</label>
                  <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-success btn-block mt-4"> Create User</button>
              </form>
        </div>
        <div class="col-md-6 topMargin offset-1">
            <div class="mt-4">
                <h4 class="alert alert-success text-center"> User Info</h4>
            </div>
            {% if all_users %}
            <div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for user in all_users %}
                      <tr>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.password}}</td>
                        <td>
                            <a href="{{ url_for('crud_bp.update', user_id=user.id) }}" class="btn btn-info btn-sm fas fa-pencil-alt"></a>
                            <a href="{{ url_for('crud_bp.delete', user_id=user.id) }}" class="btn btn-danger btn-sm fas fa-trash-alt"></a>
                          </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <div class="pagination">
                    {% if all_users.has_prev %}
                    
                    <a href="{{ url_for('crud_bp.index', page=all_users.prev_num) }}" class="h5">«</a>
                    &nbsp;
                    {% else %}
                    <span class="disabled h5">«</span>
                    &nbsp;
                    {% endif %}
                 
                    {% for num in all_users.iter_pages(left_edge=2, right_edge=2, left_current=1, right_current=1) %}
                        {% if num %}
                            {% if all_users.page == num %}
                                <a href="{{ url_for('crud_bp.index', page=num) }}" class=" page-number current">{{ num }}</a>
                            {% else %}
                                <a href="{{ url_for('crud_bp.index', page=num) }}" class="page-number">{{ num }}</a>
                            {% endif %}
                        {% else %}
                            <span class="ellipsis">&#8230;</span>
                        {% endif %}
                        &nbsp;
                    {% endfor %}
                 
                    {% if all_users.has_next %}
                    &nbsp;
                    <a href="{{ url_for('crud_bp.index', page=all_users.next_num) }}" class="h5">»</a>
                    {% else %}
                    &nbsp;
                    <span class="disabled h5">»</span>
                    {% endif %}
                 </div>
            </div>
            {% else %}
            <div class="text-center">
                <span class="emoji">&#x1F614;</span>
                <p class="text-danger">Data not found</p>
            </div>                            
            {% endif %}
        </div>
    </div>
{% endblock %}